<div id="task-form" class="mt-2">
    {{ form_start(form) }}
    <div class="form-group">
        <b>{{ form_label(form.title) }}</b>
        {{ form_widget(form.title) }}
        <i class="fa-solid fa-circle-info"></i>{{ form_help(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        <b>{{ form_label(form.content) }}</b>
        {{ form_widget(form.content) }}
        <i class="fa-solid fa-circle-info"></i>{{ form_help(form.content) }}
        {{ form_errors(form.content) }}
    </div>
    {{ form_widget(form._token) }}
    <div class="mt-2">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>
